<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="appender" class="ch.qos.logback.ext.spring.DelegatingLogbackAppender"/>

    <logger name="zjp.translateit" level="DEBUG" additivity="false">
        <appender-ref ref="appender"/>
    </logger>
    <logger name="org.springframework" level="DEBUG" additivity="false">
        <appender-ref ref="appender"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="appender"/>
    </root>
</configuration>