<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%-5level] %logger - %msg%n
            </Pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%-5level] %logger - %msg%n
            </Pattern>
        </encoder>
        <File>/home/wwwlogs/tar-api.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/home/wwwlogs/tar-api.%d{yyyy-MM-dd}.log</fileNamePattern>　　
            <maxHistory>3</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="org.springframework" level="debug">
    </logger>

    <logger name="zjp.translateit" level="debug">
    </logger>

    <springProfile name="dev">
        <root level="debug">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="debug">
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>

</configuration>